# packaging
pip>=9
setuptools>=26
# twine
# wheel>=0.29

# data science
numpy==1.19.5
#pandas
scikit-learn==0.24.2
# statsmodels
xgboost==0.90
#tensorflow
#scipy==1.4.1

# tests/linter
# black
# coverage
# flake8
# pytest
# yapf

# API
# gcsfs
# google-cloud-storage
# mlflow
# s3fs

# utilities
# six>=1.14
# joblib
# memoized-property
# termcolor
librosa==0.8.1
SoundFile==0.10.3.post1
# imageio

#front-end
streamlit==0.86.0
